:root
{
  --positive-color: rgba(75, 192, 192, 0.2);
  --positive-border-color: rgba(75, 192, 192, 0.5);
  --neutral-color: rgba(255, 206, 86, 0.2);
  --neutral-border-color: rgba(255, 206, 86, 0.5);
  --negative-color: rgba(255, 99, 132, 0.2);
  --negative-border-color: rgba(255, 99, 132, 0.5);
  --search-hint-color: rgba(0, 0, 0, 0.5);
}

#searchHint
{
  font-size: 20px;
  color: var(--search-hint-color);
  padding-left: 20%;
}

#searchProgress
{
  width: 90%;
  height: 3px;
}

#mySearch
{
  border: 1px solid #cccccc;
  border-radius: 3px;
  background: #ffffff;
  height: 30px;
  width: 90%;
  font-size: 16px;
}

.search-container
{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
  height: 50px;
  margin: 10px;
}

.search
{
  width: 50%;
  padding-top: 20px;
}

.github-logo
{
  padding-top: 20px;
  cursor: pointer;
  opacity: 0.25;
}

.github-logo:hover
{
  opacity: 1;
}

.charts-container
{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 40px;
}

.chart-container
{
  position: relative;
  margin: auto;
  width: 40%;
}

.flex-container
{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.flex-container > div
{
  width: 30%;
  margin: 15px;
  font-size: 14px;
}

.positive {}
.neutral {}
.negative {}

.positive > .tweet-container
{
  background-color: var(--positive-color);
  border: 1px solid var(--positive-border-color);
}

.neutral > .tweet-container
{
  background-color: var(--neutral-color);
  border: 1px solid var(--neutral-border-color);
}

.negative > .tweet-container
{
  background-color: var(--negative-color);
  border: 1px solid var(--negative-border-color);
}

.tweet-container
{
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.3);
}
